# Port the app will be accessible on your host machine
APP_PORT=4000

# Path to your music folder on the host machine (Windows example below)
# On Windows, use forward slashes or escaped backslashes
# MUSIC_DIR=C:/Users/yourname/Music
# On Linux server:
# MUSIC_DIR=/home/yourname/music
MUSIC_DIR=./music
